@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Calligraffitti&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: 100vh;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    background-image: linear-gradient(to bottom, black, rgb(36, 22, 52), rgb(36, 1, 75));
}
header div {
    font-family: 'Nunito';
    font-size: 0.8rem;
}
header a {
    color: white;
    text-decoration: none;
    padding: 0px 5vw 0px 5vw;
}
header a:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px white;
}

/* títulos */
.titulos {
    font-family: 'Alex Brush';
    font-size: 50px;
    padding: 20px 0px 20px 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 10vh;
}
#titulo_experiencia {
    color: white;
}

/* section home */
.about_me {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about_me div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw;
}
.about_me img {
    width: 300px;
    border-top-left-radius: 40%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 30%;
}
.about_me article {
    width: 500px;
    padding: 30px;
}
.about_me article h3 {
    font-family: 'Calligraffitti';
    font-size: 25px;
    color: rgb(0, 0, 0);
}
.about_me article p {
    font-family: 'Nunito';
    font-weight: lighter;
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 10px 0px 30px 0px;
}
.link_externo{
    text-decoration: none;
    font-style: italic;
    color: rgb(0, 0, 0);
}
.link_externo:hover {
    color: blue;
}
.link_cv{
    text-decoration: none;
    font-family: 'Nunito';
    font-size: 14px;
    padding: 8px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    border-style: double;
    border-color: rgb(0, 0, 0);
}
.link_cv:hover {
    background-color: rgb(107, 88, 130);
    color: rgb(255, 255, 255);
}

/* section experience */
.experiencia {
    height: 100vh;
    background-image: url(imagens/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
}
    /* carrossel */
.div_carrossel {
    position: relative;
    overflow: hidden;
    height: 60vh;
    width: 90vw;
}
.div_carrossel button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
.div_carrossel button img {
    width: 25px;
}
.carrossel_button {
    position: absolute;
    top: 42%;
}
#btn_right {
    right: 0%;
}
.div_articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    height: 40vh;
    width: 70vw;
    background-color: rgba(255, 255, 255, 0.819);
}
.div_articles article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Nunito';
    font-size: 15px;
}
.carrossel_nav {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.carrossel_nav button {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.347);
    border: 0;
    border-radius: 50%;
}
.carrossel_nav .current_slide {
    background-color: white;
}

    /* articles */
.div_articles article h3 {
    font-family: 'Calligraffitti';
    color: rgb(51, 5, 102);
    font-size: 18px;
    padding: 5px;
}
.div_articles a {
    text-decoration: none;
    font-family: 'Nunito';
    color: rgb(0, 0, 0);
}
.div_articles a:hover {
    text-shadow: 0px 0px 5px black;
}
.github_logos {
    display: flex;
    justify-content: center;
}
.github_logos div {
    padding: 0px 15px;
 }
.github_logos img {
    width: 12vh;
    border-radius: 50%;
    margin: 20px 0px 0px 0px;
}

/* section contatos */
.contatos {
    height: 50vh;
}
.contatos_logos {
    display: grid;
    justify-content: center;
}
.contatos_logos img {
    height: 30px;
    width: 30px;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
}
.contatos_logos img:hover{
    height: 35px;
    width: 35px;
}

/* media query para mobile */
@media screen and (max-width: 980px){
    .about_me {
        display: flex;
        flex-direction: column; 
        height: fit-content;
        margin-bottom: 10vh;
    }
    .about_me div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90vw;
    }
    .about_me article {
        width: 90vw;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
    }
    .about_me img {
        width: 150px;
        border-top-left-radius: 10%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 10%;
    }

    
}